<!DOCTYPE html>
<html lang="en">
    
<head>
<title>Đăng ký</title><meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/bootstrap-responsive.min.css" />
<link rel="stylesheet" href="/stylesheets/matrix-login.css" />
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="loginbox"> 

    {{#each errors}}   
    <div class="alert alert-error">
      {{msg}}
    </div>   
    {{/each}}       
    
    <form action="/auth/register" id="loginform" class="form-vertical" method="post">
      <div class="control-group normal_text"> <h3>Đăng ký</h3></div>
        <div class="control-group">
          <div class="controls">
            <div class="main_input_box">
              <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="Họ tên" id="fullname" name="fullname" required/>
            </div>
          </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user"> </i></span><input type="text" placeholder="Tên đăng nhập" id="username" name="username" required/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lb"><i class="icon-envelope-alt"> </i></span><input type="text" placeholder="Email" id="email" name="email" required/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Mật khẩu" id="password" name="password" required/>
                </div>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" placeholder="Nhập lại mật khẩu" id="confirm-password" name="confirmPassword" required/>
                </div>
            </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-success" style="float: right;">Đăng ký</button>
          <span class="pull-left"><a href="/auth/login" class="flip-link btn btn-info" id="to-recover">&laquo; Quay lại</a></span>
        </div>
    </form>
  </div>
  
  <script src="/javascripts/jquery.min.js"></script>  
  <script src="/javascripts/matrix.login.js"></script> 
</body>

</html>
