<!--main-container-part-->
<div id="content">
  <!--breadcrumbs-->
  <div id="content-header">
  </div>
  <!--End-breadcrumbs-->

  <!--Content-->
  <div class="container-fluid">  

    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
    
  </div>
</div>
<!--end-main-container-part-->
  
