.column {
  flex: 25%;
  padding: 0.1em;
}


.column .img-upload-thumbnail {
	width: 200px;
	height: 200px;
  display: none;
	border: 2px solid #e5e6e6;
	padding: 5px;
	object-fit: cover;
}

.pagination {
	margin-right: 50px;
}

.search-bar {
	margin: 20px;
	text-align: right;
}

.sidebar-category {
	position: relative;
}

.sidebar-category:hover .category-menu {
	display: block;
}

.category-menu {
	position: absolute;
	display: none;
}

.img-list-thumbnail {
	width: 30px;
	height: 30px;
  display: inline-block;
	border: 2px solid #e5e6e6;
	padding: 3px;
	object-fit: cover;
}

.main-data-table {
	overflow-x: scroll;
	display: block;
	width: 100%;
}

.main-data-table tbody {
	overflow-x: scroll;
	height: 140px;
}

.main-data-table thead {
	overflow-x: scroll;
}

.img-details-thumbnail {
	width: 200px;
	height: 200px;
  display: inline-block;
	border: 2px solid #e5e6e6;
	padding: 5px;
	object-fit: cover;
}

.col-name {
	min-width: 150px;
}

.col-description {
	min-width: 250px;
}

.col-price {
	min-width: 80px;
}

.col-discount {
	min-width: 50px;
}

.col-brand {
	min-width: 80px;
}

.col-category {
	min-width: 80px;
}

.col-images {
	min-width: 170px;
}

.col-view-count {
	min-width: 50px;
}

.col-sell-count {
	min-width: 50px;
}

.col-action {
	min-width: 50px;
}
.panel {
	background-color: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
}   

.panel-primary {
	border-color: #428BCA;
}   

.panel-primary > .panel-heading {
	background-color: #428BCA;
	border-color: #428BCA;
	color: #FFFFFF;
}   

.panel-heading {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 10px 15px;
}   

.panel-title {
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 0;
}   

.panel-body:before, .panel-body:after {
	content: " ";
	display: table;
}   

.panel-body:before, .panel-body:after {
	content: " ";
	display: table;
}   

.panel-body:after {
	clear: both;
}   

.panel-body {
	padding: 30px;
}   

.panel-footer {
	background-color: #F5F5F5;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top: 1px solid #DDDDDD;
	padding: 10px 15px;
}

.user-row {
	margin-bottom: 14px;
}

.user-row:last-child {
	margin-bottom: 0;
}

.dropdown-user {
	margin: 13px 0;
	padding: 5px;
	height: 100%;
}

.dropdown-user:hover {
	cursor: pointer;
}

.table-user-information {
	margin-left: 30px;
}

.table-user-information > tbody > tr {
	border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
	border-top: 0;
}


.table-user-information > tbody > tr > td {
	border-top: 0;
}

.errors-container {
	width: 50%;
	margin: 30px 0px -30px 20px;
}

.require-sign {
	color: red;
}

.sales-total-price {
	text-align: right;
	margin-top: 60px;
}

.sales-total-price span {
	font-size: 20px;
	font-weight: 500;
	padding: 15px;
	background-color: #007bff;
	color: #fff;
	margin-right: 10px;
	border-radius: 5px;
}

input[readonly].default-cursor {
    cursor: default;
}