.column {
  flex: 25%;
  padding: 0.1em;
}


.column .img-upload-thumbnail {
	width: 200px;
	height: 200px;
  display: none;
	border: 2px solid #e5e6e6;
	padding: 5px;
	object-fit: cover;
}

.pagination {
	margin-right: 50px;
}

.search-bar {
	margin: 20px;
	text-align: right;
}

.sidebar-category {
	position: relative;
}

.sidebar-category:hover .category-menu {
	display: block;
}

.category-menu {
	position: absolute;
	display: none;
}

.img-list-thumbnail {
	width: 30px;
	height: 30px;
  display: inline-block;
	border: 2px solid #e5e6e6;
	padding: 3px;
	object-fit: cover;
}

.main-data-table {
	overflow-x: scroll;
	display: block;
	width: 100%;
}

.main-data-table tbody {
	overflow-x: scroll;
	height: 140px;
}

.main-data-table thead {
	overflow-x: scroll;
}

.main-data-table td, th {
	max-width: 300px;
}

.img-details-thumbnail {
	width: 200px;
	height: 200px;
  display: inline-block;
	border: 2px solid #e5e6e6;
	padding: 5px;
	object-fit: cover;
}